 <div class="freeShippingProgressBar custom-progress-bar">
       <div class="custom_cart__discount_tiers-message--next custom-next-design"></div>
       <div  class="custom_cart__discount_tiers-message--success custom-success-design"></div>
       <div class="custom_cart__discount_tiers-progress custom-progress-design">
           <div id="progressBarFill" class="custom_cart__discount_tiers-progress--track custom-track-design"></div>
       </div>
  </div>
<style>
  .custom_cart__discount_tiers-progress.custom-progress-design {
    display: none;
}
</style>